<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
<div id="app1">
    <h3>1.v-if</h3>
    <h1 v-if="ok">YES</h1>
    <h1 v-else>No</h1>

    <h3>2.在 template 元素上使用 v-if 条件渲染分组</h3>
    <template v-if="!ok">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
    </template>

    <h3>3.v-else</h3>
    <div v-if="Math.random() > 0.5">
        Now you see me
    </div>
    <div v-else>
        Now you don't
    </div>

    <h3>4.v-else-if</h3>
    <div v-if="type === 'A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>
    <div v-else>
        Not A/B/C
    </div>


    <h3>5.用 KEY 管理可复用的元素</h3>
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" >
    </template>
    <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" >
    </template>
    <button  v-on:click="changeLoginType">Toggle login type</button>

    <h3>6.不复用</h3>
    <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
    </template>
    <button  v-on:click="changeLoginType">Toggle login type</button>

    <h3>7.v-show</h3>
    <h1 v-show="ok">Hello!</h1>
</div>
</body>
<script src="../../js/conditionRender/index.js"></script>
</html>
