<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>监听事件</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
<div id="example-1">
    <h3>1.v-on:click 监听事件</h3>
    <button v-on:click="counter +=1 ">+
    </button>
    <p>The button above has been clicked {{counter}} times.</p>

    <h3>2.v-on:click 事件处理方法</h3>
    <button v-on:click="greet">Greet</button>

    <h3>3.访问原始的DOM事件 用$event</h3>
    <button v-on:click="warn('Form connot be submitted yet.',$event)">
        Submit
    </button>

    <h3>4.事件修饰符</h3>
    <ul>
        <li>.stop</li>
        <li>.prevent</li>
        <li>.capture</li>
        <li>.self</li>
        <li>.once</li>
        <li>.passive</li>
    </ul>
    <!-- 阻止单击事件继续传播 -->
    <a v-on:click.stop="doThis"></a>

    <!-- 提交事件不再重载页面 -->
    <form v-on:submit.prevent="onSubmit"></form>

    <!-- 修饰符可以串联 -->
    <a v-on:click.stop.prevent="doThat"></a>

    <!-- 只有修饰符 -->
    <form v-on:submit.prevent></form>

    <!-- 添加事件监听器时使用事件捕获模式 -->
    <!-- 即元素自身触发的事件先在此处理，然后才交由内部元素进行处理 -->
    <div v-on:click.capture="doThis">...</div>

    <!-- 只当在 event.target 是当前元素自身时触发处理函数 -->
    <!-- 即事件不是从内部元素触发的 -->
    <div v-on:click.self="doThat">...</div>

    <!-- 点击事件将只会触发一次 -->
    <a v-on:click.once="doThis"></a>

    <!-- 只有在 `keyCode` 是 13 时调用 `vm.submit()` -->
    <input v-on:keyup.13="submit">

    <p>全部的按键别名：</p>

    <li>.enter</li>
    <li>.tab</li>
    <li>.delete (捕获“删除”和“退格”键)</li>
    <li>.esc</li>
    <li>.space</li>
    <li>.up</li>
    <li>.down</li>
    <li>.left</li>
    <li>.right</li>
</div>
</body>
<script src="../../js/listener/index.js"></script>
</html>
